@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ws';
  src: url('/ws.ttf');
}

html {
  font-size: 16px;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.radial {
  background-image: radial-gradient(
    circle farthest-corner at 50% 0,
    hsla(0, 0%, 100%, 0.16),
    hsla(0, 0%, 100%, 0)
  );
}
